# Ignore Maven files and folders
/**/target/
/**/*.versionsBackup
/**/*pom.xml.bak
/**/dependency-reduced-pom.xml

# Ignore InteliJ Idea project files
/**/*.iml
/**/*.idea

#Ignore Netbeans project files
/**/nb-configuration.xml
/**/nbproject/

#Ignore Eclipse files
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Ignore frontend project files
/**/bower_components/
/**/node_modules/
/BattleshipsWithAI/build/